#plot-container {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    cursor: default;
}

#plot-container canvas {
    display: block;
}

.colorbar-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 300px;
    background: linear-gradient(to top, #0000FF, #00FFFF, #00FF00, #FFFF00, #FF0000);
    border: 1px solid #404040;
    border-radius: 10px;
}

.colorbar-labels {
    position: absolute;
    top: 0;
    left: -35%;
    margin-left: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}

.colorbar-title {
    position: absolute;
    top: -25px;
    left: -25px;
    width: calc(100% + 50px);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #F5F5F5;
}

#tooltip {
    position: absolute;
    display: none;
    padding: 8px 12px;
    background: rgba(23, 23, 23, 0.9);
    color: white;
    border-radius: 6px;
    pointer-events: none;
    font-size: 14px;
    z-index: 100;
    border: 1px solid #4b5563;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}